.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
}

.kotak {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  margin: 0 1px;
  border: 1px solid black;
  font-size: 12px;
  text-align: center;
}
